[submodule "jsoncons"]
	path = extern/jsoncons
	url = https://github.com/danielaparker/jsoncons.git
[submodule "tileson"]
	path = tileson
	url = git@github.com:SSBMTonberry/tileson.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
