[submodule "sdl2-cmake-scripts"]
	path = sdl2-cmake-scripts
	url = https://github.com/tcbrindle/sdl2-cmake-scripts.git
[submodule "jsoncons"]
	path = jsoncons
	url = https://github.com/danielaparker/jsoncons.git
[submodule "cmake-modules"]
	path = cmake-modules
	url = https://github.com/rpavlik/cmake-modules.git
